<div class="page-container contact-section float-right">
	<div class="row d-flex mb-5 contact-info">
		<div class="col-md-12 mb-4">
			<h2 class="h4">Personal Profile</h2>
		</div>
		<div class="w-100"></div>
		<div class="col-md-3">
			<p><span>Username:</span>
				<%= @current_user.username %></p>
		</div>
		<div class="col-md-3">
			<p><span>Password:</span>
				<%= @current_user.password %></p>
		</div>
		<div class="col-md-3">
			<p><span>Birthday:</span>
				<%= @current_user.birthday %></p>
		</div>
		<div class="col-md-3">
			<p><span>Email:</span>
				<%= @current_user.email %></p>
		</div>
